
CloudTableObjectSerializer/bin/

CloudTableObjectSerializer/obj/

CloudTableObjectSerializerTest/bin/

CloudTableObjectSerializerTest/obj/

CloudTableUtils/bin/

CloudTableUtils/obj/

CloudTableUtilsTest/bin/

CloudTableUtilsTest/obj/

.DS_Store

CloudTableUtilsTest/TestResults/
